@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700,500");

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "DM Sans", sans-serif;
}

.nav-collapse {
  display: none;
}

.logo {
  height: 74px;
  width: 148px;
}

.nav-right {
  align-items: flex-start;
  display: flex;
}

.nav-link {
  margin-left: 2rem;
  text-decoration: none;
  color: #081313;
}

.collapse {
  display: none;
}

.close {
  text-align: right;
  position: absolute;
  top: 3.5rem;
  right: 20px;
}

@media (max-width: 768px) {
  .nav-right {
    display: none;
  }

  .logo {
    height: 47px;
    width: 94px;
  }

  .nav-container {
    max-width: 95%;
  }

  .nav-collapse {
    display: block;
    cursor: pointer;
  }

  .collapse {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    padding-top: 3rem;
    background-color: white;
    width: 90%;
    z-index: 1;
  }

  .collapse-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    text-decoration: none;
    color: #081313;
  }
}
